@{
    ViewBag.Title = "Sidebar";
    Layout = null;
}

<div class="well sidebar-nav">
<ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <li>@Html.ActionLink("All items", "Index", "Reader", new { feedID = (long?)null}, new{})</li>
    <li><a href="#">Favorites</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Sidebar</li>
    @{Html.RenderAction("DisplaySubscriptions", "Reader");}
</ul>
</div>


