@model List<SimplReaderMVC.Models.Reader.SubscriptionVM>

@{
    ViewBag.Title = "DisplaySubscriptionTable";
    Layout = null;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>URL</th>
            <th>Category</th>
            <th>No posts</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var feed in Model)
        {
            <tr>
                <td></td>
                <td>@feed.Title</td>
                <td>@feed.SubscriptionFullURL</td>
                <td></td>
                <td>read/unread</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
